@import "secciones/responsive.scss";

@import "secciones/mixis.scss";


body{
    margin: 0;
    padding: 0;
   
}


form{
    background-color: rgb(253, 242, 253);
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10px;

}



.formularioPrincipal{
    background-color: rgb(243, 204, 228);
     padding:5%;
     display: block;
    
}

.contenedorGracias{
    padding: 100PX;
    &__p{
             padding: 50px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            font-style: italic;
    }
}



#grillaPadre{
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-rows: 20% 70% 10%;
    height: 2000px;
    width: 100vw;
    grid-template-areas: 
                         "header header"
                         "nav section"
                         "footer footer"  
}

.gridArea{
    grid-area: header;
    background-color:#FFF0F5;
    display: flex;
    


}

#banner{
    display: inline;
    width: 20%;
    height: 100%;
    margin: 0 auto;
   
}

nav{
    background-color: rgb(240, 211, 240);
}
    .grilla2{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    background-color: 	#ffd7e4;
    &__letra{
        color: rgb(153, 144, 144);
        font-family: Arial, Helvetica, sans-serif
    }
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    

}
li a {
    text-decoration: none;
    color: rgb(236, 223, 234);
    list-style: none;
  }
  
 
 a{
    margin-left: 20px;
    color: rgb(216, 168, 204);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

ul li:hover {
    transform: scale(1.3);
  
}




.gridSection{
    display: grid;
    background-color:hsl(6, 100%, 94%);
    grid-area: section;
    
    grid-template-columns: 100%;
    grid-template-rows: 10% 40% 50%;
    grid-template-areas: 
                        " bienvenidos"
                        " carruselHome"
                        " cartas ";
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    

}


.bienvenidos{
    width: 100%;
    height: 30%;
    text-align: center;
    display: block;
    &__h1{
        margin: auto;
        padding: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-style: italic;

    }
    &__h2{
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        padding: 10px;

    }
    &__h3{ 
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        padding: 40px;

    }

}



#carruselHome{
    margin: auto;
    width: 80%;
    
}


.galeria{
    display: grid; 
    background-color: hsl(6, 100%, 94%);
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    position:relative;
    margin-bottom: 10px;
    
        &__contene{
            display: flex;
            margin:10px;
            padding: auto;
            width: 100%;
            height: 80%;}
    }
.fotoGaleria1{
    height: 30vh;
    margin-bottom: auto;
    margin: 40px;
   
}
.fotoGaleria2{
max-width:30vh;
margin: 40px;
margin-bottom: auto;
}
.fotoGaleria3{
    width: 40vh;
    margin-bottom: auto;
    margin: 40px;
    height: 30vh;

}

#sectionPadre{
    background-color: rgb(240, 208, 225);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    height: 100%;
    margin: 0;

    
    
}
.cartas{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
   
}
.card{
    padding: 1px;
    width: 400px;
    height: 400px;
    margin: 0 auto;


    &__img{
        display:flex;
        height: 400px;
        width: 100%;
        background-color: rgb(230, 227, 227);

    }

    &__contenedor{
        display:flex;
         padding: 5%;
        background-color: rgb(198, 168, 209);
        width: 400px;
        height: 200px;
    }

    &__lista{
        
        padding: 0.9em;
        margin-right: .05em;
        display:flex;
        background-color: rgb(204, 218, 231);
        font-size: 10px;
        
    }
    &__item{
        display: inline;
        list-style: none;
        padding:.5em;
        margin-right: .05em;
    }
    &__descrip{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        padding: 10px;
    }

    .foto{
        display: block;
        margin: auto;
        width: 50%;
        height: 70%;
        padding: 3%;
        
       transition: height 2s, width 2s
    }
    .foto:hover {
        height: 90%; width: 90%;
     }
     
    
}



.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(233, 227, 233);
    grid-area: footer;
  
}

.piePagina{
    width: 100%;
    height: 30%;

    &__cont{
        width: 300px;
        height: 50px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        }

    &__parrafo{
        font-size: 10px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif; 
    }
     &__boton{
        cursor: pointer;
     }   
    &__lista{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30PX;
        
    }
    
    
    &__img{
        width: 50px;
        height: 50px;
        transition: 0.3s ease all;
        }
    &__img:hover {
        transform: scale(1.3);

    }    

 }



 #contenetarjeta{
     display: flex;
     width: 100%;
     height: 50%;
     
 }
.contenedor {
	max-width: 900px;
	width: 100%;
    
	margin: 0 auto;
    padding-top: 100px;
}

.tarjeta {
	background-color: #cccccc;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 50px; 
}

.tarjeta__img {
	width: 200px;
	height: 150px;
	padding: 20px;
}

.tarjeta__titulo {
	font-size:1.5 rem;
	padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.tarjeta__descripcion {
	line-height: 28px;
	font-size:1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.whatsaap{
    height: 50%;
	width: 10%;
	margin: 0 auto;
    background-color:#bebbbe;
    float: right;
    border: none;

    
     &__click{
        height: 80px;

    }

}
.btn{
    background-color: rgb(207, 203, 203);
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    
     &__link{
        align-items: center;
        color: hotpink;
        
    }
    
}


.navegacion{
    width: 20%;
    height: 2%;
    margin: 1px;
    padding: 3px;
    &__h{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: block;
        font-size: 12px;
        padding: 20px;
    }
    
    &__ul{
        list-style: none;
        display: inline-flex;
        margin: 0;
        padding: 0;

    }
    &__li{
        color: black;
        

    }
    &__a{
        color: black;
        font-size: 8px;
    }



}
